[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/colors/start/gruvbox"]
	path = pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/syntax/start/coc.nvim"]
	path = pack/syntax/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/syntax/start/yats.vim"]
	path = pack/syntax/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/asyncrun"]
	path = pack/plugins/opt/asyncrun
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule "pack/plugins/opt/asynctasks"]
	path = pack/plugins/opt/asynctasks
	url = git@github.com:skywind3000/asynctasks.vim.git
[submodule "pack/colors/start/spaceduck"]
	path = pack/colors/start/spaceduck
	url = git@github.com:pineapplegiant/spaceduck.git
