[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/asyncrun"]
	path = pack/plugins/opt/asyncrun
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule "pack/plugins/opt/asynctasks"]
	path = pack/plugins/opt/asynctasks
	url = git@github.com:skywind3000/asynctasks.vim.git
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "/Users/elliot/.vim/pack/syntax/start/vim-polyglot"]
	path = /Users/elliot/.vim/pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/opt/vista"]
	path = pack/plugins/opt/vista
	url = git@github.com:liuchengxu/vista.vim.git
[submodule "pack/syntax/start/vim-polyglot"]
	path = pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/opt/fern"]
	path = pack/plugins/opt/fern
	url = git@github.com:lambdalisue/fern.vim.git
	branch = main
[submodule "pack/plugins/opt/fern-renderer-nerdfont"]
	path = pack/plugins/opt/fern-renderer-nerdfont
	url = git@github.com:lambdalisue/fern-renderer-nerdfont.vim.git
[submodule "pack/plugins/opt/nerdfont"]
	path = pack/plugins/opt/nerdfont
	url = git@github.com:lambdalisue/nerdfont.vim.git
[submodule "pack/plugins/opt/fern-hijack"]
	path = pack/plugins/opt/fern-hijack
	url = git@github.com:lambdalisue/fern-hijack.vim.git
[submodule "pack/plugins/opt/fern-git-status"]
	path = pack/plugins/opt/fern-git-status
	url = git@github.com:lambdalisue/fern-git-status.vim.git
[submodule "pack/syntax/opt/vim-prisma"]
	path = pack/syntax/opt/vim-prisma
	url = git@github.com:pantharshit00/vim-prisma.git
[submodule "pack/colors/opt/everforest"]
	path = pack/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "pack/colors/opt/sonokai"]
	path = pack/colors/opt/sonokai
	url = git@github.com:sainnhe/sonokai.git
[submodule "pack/plugins/opt/LeaderF"]
	path = pack/plugins/opt/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "pack/plugins/start/git-lens"]
	path = pack/plugins/start/git-lens
	url = git@github.com:Eliot00/git-lens.vim.git
[submodule "pack/plugins/start/stargate"]
	path = pack/plugins/start/stargate
	url = git@github.com:monkoose/vim9-stargate.git
[submodule "pack/colors/opt/gruvbox-material"]
	path = pack/colors/opt/gruvbox-material
	url = git@github.com:sainnhe/gruvbox-material.git
[submodule "pack/syntax/opt/coc"]
	path = pack/syntax/opt/coc
	url = git@github.com:neoclide/coc.nvim.git
	branch = release
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/colors/opt/catppuccin"]
	path = pack/colors/opt/catppuccin
	url = git@github.com:catppuccin/nvim.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = git@github.com:LunarWatcher/auto-pairs.git
