[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/syntax/start/coc.nvim"]
	path = pack/syntax/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/asyncrun"]
	path = pack/plugins/opt/asyncrun
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule "pack/plugins/opt/asynctasks"]
	path = pack/plugins/opt/asynctasks
	url = git@github.com:skywind3000/asynctasks.vim.git
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "/Users/elliot/.vim/pack/syntax/start/vim-polyglot"]
	path = /Users/elliot/.vim/pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/opt/vista"]
	path = pack/plugins/opt/vista
	url = git@github.com:liuchengxu/vista.vim.git
[submodule "pack/syntax/start/vim-polyglot"]
	path = pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/opt/fern"]
	path = pack/plugins/opt/fern
	url = git@github.com:lambdalisue/fern.vim.git
[submodule "pack/plugins/opt/fern-renderer-nerdfont"]
	path = pack/plugins/opt/fern-renderer-nerdfont
	url = git@github.com:lambdalisue/fern-renderer-nerdfont.vim.git
[submodule "pack/plugins/opt/nerdfont"]
	path = pack/plugins/opt/nerdfont
	url = git@github.com:lambdalisue/nerdfont.vim.git
[submodule "pack/plugins/opt/fern-hijack"]
	path = pack/plugins/opt/fern-hijack
	url = git@github.com:lambdalisue/fern-hijack.vim.git
[submodule "pack/plugins/opt/fern-git-status"]
	path = pack/plugins/opt/fern-git-status
	url = git@github.com:lambdalisue/fern-git-status.vim.git
[submodule "pack/syntax/opt/vim-prisma"]
	path = pack/syntax/opt/vim-prisma
	url = git@github.com:pantharshit00/vim-prisma.git
[submodule "pack/colors/opt/everforest"]
	path = pack/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "pack/colors/opt/sonokai"]
	path = pack/colors/opt/sonokai
	url = git@github.com:sainnhe/sonokai.git
[submodule "pack/plugins/opt/LeaderF"]
	path = pack/plugins/opt/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "pack/colors/opt/nightfox"]
	path = pack/colors/opt/nightfox
	url = git@github.com:EdenEast/nightfox.nvim.git
